In [65]:
import pandas as pd
import numpy as np

In [66]:
df=pd.read_csv('test.csv')
df_survived=pd.read_csv('gender_submission.csv')

In [67]:
df=pd.concat([df,df_survived['Survived']],axis=1)

In [68]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

Checking and dropping NaN items

In [69]:
df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
Survived         0
dtype: int64

In [70]:
df['Fare'].fillna(df['Fare'].mean(),inplace=True) #Replacing with mean values
df['Age'].fillna(df['Age'].mean(),inplace=True) #Replacing with mean values
df.drop('Cabin',axis=1,inplace=True)

<h1>Detailed_Details Function</h1>
<h2> Takes 4 inputs </h2>
<ul>
<li> df = dataframe </li>
<li> target= Targeted Feature </li>
<li> outcome= Targeted Outcome </li>
<li> max_unique_value_count = (Set)Maximum Unique Value Count in between Target and Outcome.Best to set Max_Unique_Count Finite (i.e Less than 25).<br> That is "df[target].nunique()<=25" or "df[outcome].nunique()<=25" <br> Now Choose Max Value Between them.</li>
</ul>
<h3> Remove all NaN values before Hand. </h3>
<h3> If you have dropped rows in Dataframe. ReIndex Your DataFrame (DataFrame.reindex()). </h3>
<h3> This function doesnot evaluate for strings or objects having large unique_value_counts. </h3>

In [71]:
#Code is in Detailed_Details.py
from Detailed_Details import Detailed_Details

<h1> UNIQUE NUMERICAL VS UNIQUE NUMERICAL </h1>
<h3>Comparing Between Pclass(unique_value_count = 3)[ 1 2 3] and Survived (unique_value_count=2)[0 1] <br>(Both Unique Numerical Values)</h3>
<h4>So choose max_unique_value_count =3 </h4>

In [72]:
Detailed_Details(df,'Pclass','Survived',3)
Detailed_Details(df,'Survived','Pclass',3)

<h1> MULTIPLE NUMERICAL VS UNIQUE NUMERICAL</h1>
<h3>Comparing Between Pclass(unique_value_count=3)[1 2 3] with Fare(has high unique_value_count) <br>(Pclass Has Distinct Value but Fare doesnot have.)</h3>
<h4>We set max_unique_value_count = 3 </h4>

In [73]:
Detailed_Details(df,'Pclass','Fare',3)
Detailed_Details(df,'Fare','Pclass',3)

<h1> MULTIPLE NUMERICAL VS MULTIPLE NUMERICAL </h1>
<h3>Comparing Between Age(has high uniqe_value_count) with Fare(has high uniqe_value_count) 
<h4>We set max_unique_value_count to 0 (doesnot really matter here) </h4>

In [74]:
Detailed_Details(df,'Age','Fare',0)
Detailed_Details(df,'Fare','Age',0)

<h1> UNIQUE NUMERICAL VS UNIQUE STRING </h1>
<h3>Comparing Between Pclass(uniqe_value_count=3)[1 2 3] with Sex(unique_value_count=2)[female male] <br> (Both Have low unique_value_counts)</h3>
<h4>We set max_unique_value_count=3</h4>

In [75]:
Detailed_Details(df,'Pclass','Sex',3)
Detailed_Details(df,'Sex','Pclass',3)


<h1> MULTIPLE NUMERICAL VS UNIQUE STRING </h1>
<h3>Comparing Between Fare(has high unique_value_count) with Embarked(uniqe_value_count=3)[C Q S] </h3>
<h4>We set max_uniqe_value_count=3</h4>

In [76]:

Detailed_Details(df,'Fare','Embarked',3)
Detailed_Details(df,'Embarked','Fare',3)

<h1> UNIQUE STRING VS UNIQUE STRING </h1>
<h3>Comparing Between Sex(uniqe_value_count=2)[female male] with Embarked(uniqe_value_count=3)[C Q S] <br> (Both have low unique_value_counts and are of string type)</h3>
<h4>We set max_uniqe_value_count=3</h4>

In [77]:
Detailed_Details(df,'Sex','Embarked',3)
Detailed_Details(df,'Embarked','Sex',3)

<h3>Trying with String having high number of uniqe_value_count</h3>
<h4>Like Name </h4>
<h4>Here max_uniqe_value_count doesnot matter much</h4>

In [78]:
Detailed_Details(df,'Pclass','Name',3)

Detailed_Details(df,'Name','Pclass',3)