In [321]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from collections import Counter
from sklearn.model_selection import GridSearchCV

In [322]:
#Reading data
df=pd.read_csv("C:\\Users\\Ghost\\Desktop\\AIML\\c2c-ai\\Assignment 2\\heart_failure_clinical_records_dataset.csv")
print(df.head())

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  75.0        0                       582         0                 20
1  55.0        0                      7861         0                 38
2  65.0        0                       146         0                 20
3  50.0        1                       111         0                 20
4  65.0        1                       160         1                 20

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                    1  265000.00               1.9           130    1
1                    0  263358.03               1.1           136    1
2                    0  162000.00               1.3           129    1
3                    0  210000.00               1.9           137    1
4                    0  327000.00               2.7           116    0

   smoking  time  DEATH_EVENT
0        0     4            1
1        0     6            1
2        1     7            1
3        0     7            1
4        0     8            1

In [323]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [324]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [325]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [326]:
df['DEATH_EVENT'].value_counts()

0    203
1     96
Name: DEATH_EVENT, dtype: int64

In [327]:
df.shape

(299, 13)

In [328]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [329]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [330]:
knn_model=KNeighborsClassifier()

In [331]:
params={
    'n_neighbors':[3,5,7,9,11,13],
    'metric':['cosine','euclidean','manhattan'],
    'weights':['uniform','distance']
    
}

In [332]:
gridsearch=GridSearchCV(
    knn_model,
    params,
    verbose=1, #Progress bar showing
    cv=10, #cross validation
    n_jobs=-2, #cores to assign
    
)

In [333]:
gridsearch_result=gridsearch.fit(train_x,train_y) #fit data

Fitting 10 folds for each of 36 candidates, totalling 360 fits

In [334]:
gridsearch_result.best_estimator_
gridsearch_result.best_score_

0.7614130434782609

In [335]:
gridsearch_result.best_params_

{'metric': 'cosine', 'n_neighbors': 7, 'weights': 'distance'}

In [336]:
y_predict=gridsearch_result.predict(test_x)

In [337]:
print(classification_report(test_y,y_predict))

              precision    recall  f1-score   support

           0       0.81      0.81      0.81        43
           1       0.53      0.53      0.53        17

    accuracy                           0.73        60
   macro avg       0.67      0.67      0.67        60
weighted avg       0.73      0.73      0.73        60

In [338]:
confusion_matrix(test_y,y_predict)

array([[35,  8],
       [ 8,  9]], dtype=int64)

In [133]:
Counter(test_y)
#DOwn sample ,IMB LEARN how to handle imbalanced dataset,Standarization

Counter({0: 39, 1: 21})